@model RealtyWebApp.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PropertyAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Debt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Debt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreviousAdress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreviousAdress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LandLord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LandLord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LandLphone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LandLphone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsLeased)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsLeased)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsOwned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOwned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occupation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoAppSSN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoAppSSN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoApplicanFname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoApplicanFname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoApplicanLname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoApplicanLname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherOccupants)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherOccupants)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupervisorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupervisorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployerPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployerPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HowLongEmployed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HowLongEmployed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnualIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnualIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefPhone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefPhone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefPhone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefPhone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordHash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordHash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecurityStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecurityStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwoFactorEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LockoutEndDateUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LockoutEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessFailedCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
