@model RealtyWebApp.Models.RentalApplicationModel

@{
    ViewBag.Title = "Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="adblazer" ng-app="myApp">
    <div class="demo-banner">
        <div class="container">
            <div class="row">
                <br>
                <br>
                <div class="demo-text">RENTAL APPLICATION</div>
            </div>

            <div id="log"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="littleSide col-lg-3 center-block">
                <h2>Apply with us.</h2>
                <p>The first step in the rental process is to complete a rental application. We use the same criteria and application form for every applicant allowing us to evaluate candidates objectively and helps ensure our compliance with fair housing rules.  </p>
                <p>Each adult (18 or older) must fill out a separate application </p>
                <br>

                <p><span class="glyphicon glyphicon-ok"> No Credit Check*</span>  </p>
                <p><p><span class="glyphicon glyphicon-ok"> No application fee* </p>
                <p><p><span class="glyphicon glyphicon-ok"></span></p>
                <p>
                </p><br><span class="glyphicon glyphicon-heart"></span><p>We can't wait to hear from you.</p>
                <br><br>
                <h6>No credit check or application unless specifically requested.</h6>
                <h6>In consideration of this application we may ask you to provide a copy of your credit report.</h6>
            </div>
            <div class="col-lg-1"></div>
            <div class="bigSide col-lg-8">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class=" littleSide form-group row">
                            <h3>Applicant Info.</h3>
                            <div class="form-group  col-md-12">
                                @Html.LabelFor(model => model.PropertyAddress, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.PropertyAddress, new { htmlAttributes = new { @class = "form-control " } })
                                    @Html.ValidationMessageFor(model => model.PropertyAddress, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.SSN, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.SSN, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SSN, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group  col-md-6">
                                @Html.LabelFor(model => model.Debt, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.Debt, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Debt, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group  col-md-6">
                                @Html.LabelFor(model => model.Pets, htmlAttributes: new { @class = "control-label " })
                                <div>
                                    @Html.EditorFor(model => model.Pets, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Pets, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group  col-md-6">
                                @Html.LabelFor(model => model.PreviousAdress, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.PreviousAdress, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PreviousAdress, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group  col-md-6">
                                @Html.LabelFor(model => model.LandLord, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.LandLord, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LandLord, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>


                        <div class=" littleSide form-group row">
                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.LandLphone, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.LandLphone, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LandLphone, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.MonthlyPayment, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.MonthlyPayment, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MonthlyPayment, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.IsLeased, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div>
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.IsLeased)
                                        @Html.ValidationMessageFor(model => model.IsLeased, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.IsOwned)
                                <div>
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.IsOwned, "", new { @class = "control-label col-md-2" })
                                        @Html.ValidationMessageFor(model => model.IsOwned, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.Occupation, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.Occupation, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Occupation, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.CoAppSSN, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.CoAppSSN, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CoAppSSN, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class=" littleSide form-group row">
                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.CoApplicanFname, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.CoApplicanFname, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CoApplicanFname, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.CoApplicanLname, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.CoApplicanLname, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CoApplicanLname, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.OtherOccupants, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.OtherOccupants, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.OtherOccupants, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.Employer, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Employer, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Employer, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.SupervisorName, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.SupervisorName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SupervisorName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.EmployerPhone, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.EmployerPhone, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.EmployerPhone, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.HowLongEmployed, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.HowLongEmployed, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.HowLongEmployed, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <div class=" littleSide form-group row">
                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.AnnualIncome, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.AnnualIncome, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AnnualIncome, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.OtherIncome, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.OtherIncome, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.OtherIncome, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.Reference2, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Reference2, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Reference2, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.RefPhone2, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.RefPhone2, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.RefPhone2, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.Reference1, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Reference1, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Reference1, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.RefPhone1, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.RefPhone1, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.RefPhone1, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div>
                                <input type="submit" value="Apply" class="btn btn-lg btn-primary" />
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    <script src="apply.js" type="text/javascript"></script>
</div>


